/*Con el * se marca para que todo tenga estos atributos definidos aqui*/
*{
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(img/bg.jpg);

}

.titulorojo{
    color: red;
    font-size: 4.em;
    font-family: Arial, Helvetica, sans-serif;
}
#parrafo
{
    color: black;
    font-size: 5.em;

}
/*Con esto puedes asignar un estilo especificos alas etiquetas que selecciones, en este caso los parrafos P y los Label como ejemplo */
p,label{
    opacity: 0.7;


}

